@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --cor0: #BD52EB;
    --cor1: #8554EA;
    --cor2: #750FEB;
    --cor3: #4B71EA;
    --cor4: #4A4BEF;
    --cor5: #4221EA;
}

canvas#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    z-index: -1;
    background-color: rgb(0, 0, 0);
}

body {
    background-color: black;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    height: 90px;
    background-color: black;
    box-shadow: 0px 0px 3px 3px var(--cor4);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

.fade-in {
    animation: fade 1s ease-out;
}

@keyframes fade {
    from {opacity: 0; transform: translateY(20px);}
    to {opacity: 1; transform: translateY(0px);}
}

#portifólio {
    font-weight: bold;
    color: var(--cor4);
    display: flex;
    margin-right: auto;
    padding-left: 23px;
    font-size: clamp(16px, 3vw, 32px);
}

#links-header {
    display: flex;
    gap: 15px;
    font-weight: bolder;
    padding-right: 10px;
}


.links-header {
    text-decoration: none;
    position: relative;
    margin: auto;
    font-size: clamp(11px, 2vw, 18px);
    padding-right: 10px;
    color: var(--cor4);
}

.links-header::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;                    /* espessura da linha */
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);          /* cor do underline */
    transition: width 0.6s ease;   /* animação */
}

a:hover::after {
  width: 100%;                    /* underline cresce no hover */
}

.links-header:hover {
    cursor: pointer;
    color: #fdfdfd;
}

main {
    display: flex;
    align-items: center;     /* centraliza na vertical */
    justify-content: center; /* centraliza na horizontal */
    gap: 200px;               /* espaço entre a foto e o texto */
    flex-wrap: wrap;         /* quebra em telas pequenas */
    padding: 40px;
    position: relative;
    z-index: 1;
    Font-family: Arial, Helvetica, sans-serif;
}

#redonda {
    border-radius: 100%;
    width: clamp(180px, 90%, 390px); /* mínimo 180px, cresce até 390px */
    height: 380px;
    display: block;
    margin: 0px;
    box-shadow: 0px 0px 0px 4px var(--cor4);
    outline: 2px solid var(--cor4);     /* borda externa */
    outline-offset: 13px;          /* espaço entre elas */
}

#inicio {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    justify-content: end;
    max-width: 600px;
    word-wrap: break-word;
    text-align: left;
}

#inicio-h1 {
    font-size: 60px;
    margin-top: 20px;
}

#inicio > p {
    font-size: 20px;
    margin: auto;
    text-align: justify;
}

#inicio-h2 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
}

#inicio-h2 span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid var(--cor4); /* cursor */
  animation: escrever 5s steps(25, end) infinite alternate,
  blink 0.7s infinite step-end alternate;
  color: var(--cor4);
  transform: translateY(10px);
}

/* Anima a escrita e o apagar */
@keyframes escrever {
  from { width: 0; }
  to { width: 13ch; } /* quantidade de caracteres do texto */
}

@keyframes blink {
  50% { border-color: transparent; }
}

.botão-inicio {
    background-color: transparent;
    border: 2px solid var(--cor5);
    margin-top: 40px;
    height: 55px;
    width: 200px;
    font-weight: bolder;
    font-size: 15px;
    box-shadow: 0px 0px 5px 0px var(--cor5);
    border-radius: 10px;
    color: var(--cor5);
    gap: 20px;
}

@media (max-width: 768px) {
    .botão-inicio {
        margin: 15px auto;       /* centraliza no meio */
        width: 80%;  
        max-width: 250px;        /* não passa disso */
        text-align: center;
    }
}

#btn1 {
    margin-right: 20px;
}

.botão-inicio:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 3px var(--cor5);
    transform: translate(2px, -3px);
}

.botão-inicio > img {
    color: var(--cor5);
    transform: translate(-9px, 3px);
    height: 18px;

}

#sobre {
background-color: black;
color: white;
text-align: center;
padding: 0px;
margin-top: 50px;
}

#sobre-h1 {
    margin-bottom: 55px;
    font-size: 35px;
    color: var(--cor4);
}

#sobre-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap; /* quebra no celular */
    max-width: 1100px;
    margin: auto;
    text-align: left;
}

#sobre-img img {
    width: 350px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px var(--cor5);

}

/* Texto */
#sobre-texto {
  max-width: 600px;
  text-align: center;
}

#sobre-texto h2 {
  font-size: 28px;
  color: var(--cor4);
  margin-bottom: 25px;
}

#sobre-texto p {
  margin-bottom: 20px;
  line-height: 1.6;
  text-align: justify;
  font-size: 17px;
}

#sobre-texto h3 {
    font-size: 28px;
    margin-top: 30px;
    color: var(--cor4);
}

/* Skills */
#Habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}

#Habilidades span {
  background: #000000;
  color: var(--cor5);
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 14px;
  transition: 0.3s;
  margin-top: 30px;
  text-decoration: none;
}

#habilidades span:hover {
  background: var(--cor5);
  color: #ffffff;
  background-color: #4221EA;
  transform: scale(1.05);
  cursor: pointer;
  transform: translate();
  text-decoration: none;
}

/* Responsividade */
@media (max-width: 768px) {
  #sobre-container {
    flex-direction: column;
    text-align: center;
  }

}
