@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --cor0: #BD52EB;
    --cor1: #8554EA;
    --cor2: #750FEB;
    --cor3: #4B71EA;
    --cor4: #4A4BEF;
    --cor5: #4221EA;
}

body {
    background-color: rgb(49, 48, 48);
}

header {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    height: 90px;
    background-color: black;
    box-shadow: 0px 0px 3px 3px var(--cor4);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#portifólio {
    font-weight: bold;
    color: var(--cor4);
    display: flex;
    margin-right: auto;
    padding-left: 23px;
    font-size: clamp(16px, 3vw, 32px);
}

#links-header {
    display: flex;
    gap: 15px;
    font-weight: bolder;
    padding-right: 10px;
}


.links-header {
    text-decoration: none;
    position: relative;
    margin: auto;
    font-size: clamp(11px, 2vw, 18px);
    padding-right: 10px;
    color: var(--cor4);
}

.links-header::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;                    /* espessura da linha */
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);          /* cor do underline */
    transition: width 0.6s ease;   /* animação */
}

a:hover::after {
  width: 100%;                    /* underline cresce no hover */
}

.links-header:hover {
    cursor: pointer;
    color: #fdfdfd;
}

main > img {
    border-radius: 100%;
    width: 390px;
    height: 400px;
    margin: auto;
    transform: translate(300px, 160px);
    box-shadow: 0px 0px 0px 4px var(--cor4);
    outline: 2px solid var(--cor4);     /* borda externa */
    outline-offset: 13px;          /* espaço entre elas */
}

#inicio {
    color: white;
    transform: translate(830px, -220px);
    width: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#inicio-h1 {
    font-size: 80px;
    margin: auto;
    margin-top: 20px;
}

#inicio > p {
    font-size: 20px;
}

#ano {
    background-color: var(--cor1);
    width: 75px;
    text-align: center;
    border-radius: 30px;
    color: black;
    transform: translate(240px, -23px);
}

#inicio-h2 {
    font-size: 35px;
    margin-bottom: 30px;
    margin-top: 20px;
}

#inicio-h2 span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid var(--cor4); /* cursor */
  animation: escrever 5s steps(25, end) infinite alternate,
  blink 0.7s infinite step-end alternate;
  color: var(--cor4);
  transform: translateY(10px);
}

/* Anima a escrita e o apagar */
@keyframes escrever {
  from { width: 0; }
  to { width: 23ch; } /* quantidade de caracteres do texto */
}

@keyframes blink {
  50% { border-color: transparent; }
}

.botão-inicio {
    background-color: transparent;
    border: 2px solid var(--cor5);
    margin-top: 40px;
    height: 55px;
    width: 200px;
    font-weight: bolder;
    font-size: 15px;
    box-shadow: 0px 0px 5px 0px var(--cor5);
    border-radius: 10px;
    color: var(--cor5);
    gap: 20px;
}

#btn1 {
    margin-right: 20px;
}

.botão-inicio:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 3px var(--cor5);
    transform: translate(2px, -3px);
}

.botão-inicio > img {
    color: var(--cor5);
    transform: translate(-9px, 3px);
    height: 18px;
}
