@charset "UTF-8";

@media  screen and (max-width: 768px) {
    
}

@media screen and (min-width: 768px) {
    #burguer {
        display: none;
    }

    #menu {
        display: block;
    }

    #menu > a {
        display: inline-block;
    }

}

@media screen and (min-width: 1115px) {
    #btn2 {
        transform: translate(0px, 10px);
    }

    #btn2 a {
        transform: translate(20px, -9px);
    }

    #btn2 img {
        transform: translate(-80px, 16px);
    }
}
