@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --cor0: #BD52EB;
    --cor1: #8554EA;
    --cor2: #750FEB;
    --cor3: #4B71EA;
    --cor4: #4A4BEF;
    --cor5: #4221EA;
}

html {
    scroll-behavior: smooth;
}

canvas#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    z-index: -1;
    background-color: rgb(0, 0, 0);
}

body {
    background-color: black;
    color: white;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    height: 90px;
    background-color: black;
    box-shadow: 0px 0px 3px 3px var(--cor4);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    position: fixed;
    z-index: 1000; /* fica acima dos outros elementos */
}

.fade-in {
    animation: fade 1s ease-out;
}

@keyframes fade {
    from {opacity: 0; transform: translateY(20px);}
    to {opacity: 1; transform: translateY(0px);}
}

#portifólio {
    font-weight: bold;
    color: var(--cor4);
    display: flex;
    margin-right: auto;
    padding-left: 23px;
    font-size: clamp(16px, 3vw, 32px);
}

#burguer {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover {
    color: var(--cor3);
}

#menu {
    display: none;
    font-weight: bolder;
    padding-right: 10px;
}

.links-header {
    display: inline-block;
    text-decoration: none;
    position: relative;
    flex-direction: column;
    margin: auto;
    font-size: clamp(11px, 2vw, 18px);
    padding-right: 20px;
    color: var(--cor4);
    transition: 1s;
}

.links-header::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;                    /* espessura da linha */
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);          /* cor do underline */
    transition: width 0.6s ease;   /* animação */
}

header a:hover::after {
  width: 100%;                    /* underline cresce no hover */
}

.links-header:hover {
    cursor: pointer;
    color: #fdfdfd;
}

main {
    display: flex;
    align-items: center;     /* centraliza na vertical */
    justify-content: center; /* centraliza na horizontal */
    gap: 200px;               /* espaço entre a foto e o texto */
    flex-wrap: wrap;         /* quebra em telas pequenas */
    padding: 40px;
    position: relative;
    z-index: 1;
    Font-family: Arial, Helvetica, sans-serif;
}

#redonda {
    border-radius: 100%;
    width: clamp(160px, 90%, 350px); /* mínimo 180px, cresce até 390px */
    height: 350px;
    display: block;
    box-shadow: 0px 0px 0px 4px var(--cor4);
    outline: 2px solid var(--cor4);     /* borda externa */
    outline-offset: 13px;
    margin-top: 0px;
    margin-bottom: 0px;
    transform: translateY(60px);
}

#inicio {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    justify-content: end;
    max-width: 600px;
    word-wrap: break-word;
    text-align: left;
    margin-bottom: 100px;
    align-content: center;
    padding-top: 80px;
    transform: translateY(60px);
}

#inicio-h1 {
    font-size: 60px;
    margin-top: 20px;
}

#inicio > p {
    font-size: 20px;
    margin: auto;
    text-align: justify;
}

#inicio-h2 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
}

#inicio-h2 span {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
  border-right: 3px solid var(--cor4); /* cursor */
    animation: escrever 5s steps(25, end) infinite alternate,
    blink 0.7s infinite step-end alternate;
    color: var(--cor4);
    transform: translateY(10px);
}

/* Anima a escrita e o apagar */
@keyframes escrever {
    from { width: 0; }
  to { width: 13ch; } /* quantidade de caracteres do texto */
}

@keyframes blink {
    50% { border-color: transparent; }
}

.botão-inicio {
    background-color: transparent;
    border: 2px solid var(--cor5);
    margin-top: 40px;
    height: 55px;
    width: 200px;
    font-weight: bolder;
    font-size: 15px;
    box-shadow: 0px 0px 5px 0px var(--cor5);
    border-radius: 10px;
    color: var(--cor5);
    gap: 20px;
    transition: 0.5s;
}

.botão-inicio > a {
    text-decoration: none;
    color: var(--cor5);
    font-weight: bolder;
}

.botão-inicio > a:hover {
    text-decoration: none;
    color: var(--cor5);
}

#btn1 {
    margin-right: 20px;
    font-size: 18px;
}

#btn2 {

}

.botão-inicio:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 3px var(--cor5);
    transform: translate(2px, -3px);
}

.botão-inicio > img {
    color: var(--cor5);
    transform: translate(-3px, 2px);
    height: 16px;
    margin-right: 3px;
    margin-left: 3px;
}

@media (max-width: 1114px) {
    .botão-inicio {
        margin: 15px auto;       /* centraliza no meio */
        width: 80%;  
        max-width: 250px;        /* não passa disso */
        text-align: center;
    }

    #btn1 {
        font-size: 11px;
    }

    #redonda {
        margin-top: 80px;
        transform: translateY(30px);
    }

    #inicio {
        padding-top: 0px;
    }

    #sobre {
        margin-top: -100px;
    }

    #contatar {
        flex-direction: column;
    }

    #formulario {
        width: 100%;    
    }

}

#sobre {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0px;
    margin-bottom: 100px;
}

#sobre-h1 {
    margin-bottom: 55px;
    font-size: 45px;
    color: var(--cor4);
}

#sobre-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap; /* quebra no celular */
    max-width: 1100px;
    margin: auto;
    text-align: left;
}

#sobre-img img {
    width: 350px;
    height: 400px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px var(--cor5);

}

#sobre-texto {
    max-width: 600px;
    text-align: center;
}

#sobre-texto h2 {
    font-size: 28px;
    color: var(--cor4);
    margin-bottom: 25px;
}

#sobre-texto p {
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: justify;
    font-size: 17px;
}

#sobre-texto h3 {
    font-size: 28px;
    margin-top: 30px;
    color: var(--cor4);
}

#Habilidades {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

#Habilidades span {
    background: #000000;
    color: var(--cor5);
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    transition: 0.3s;
    margin-top: 30px;
    text-decoration: none;
}

#habilidades span:hover {
    background: var(--cor5);
    color: #ffffff;
    background-color: #4221EA;
    transform: scale(1.05);
    cursor: pointer;
    transform: translate();
    text-decoration: none;
}

/* Responsividade */
@media (max-width: 768px) {
    #sobre-container {
    flex-direction: column;
    text-align: center;
}

}

#meus-servicos {
    color: white;
    margin-bottom: 100px;
}

#cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  /*quebra de linha*/
    gap: 40px;
}

.cards {
    border-radius: 10px;
}

.cards img {
    margin-left: 41%;
    margin-top: 25px;
    height: 80px;
    width: 80px;
}

#card-1 {
    box-shadow: 2px 2px 10px 2px var(--cor5);
    transition: 0.4s;
}

#card-1:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px black;
    transform: translate(3px , -3px);
}

#card-2 {
    box-shadow: 2px 2px 10px 2px var(--cor5);
    transition: 0.4s;
}

#card-2:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px black;
    transform: translate(3px , -3px);
}

#card-3 {
    box-shadow: 2px 2px 10px 2px var(--cor5);
    transition: 0.4s;
}

#card-3:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px black;
    transform: translate(3px , -3px);
}

#meus-servicos h1 {
    font-size: 45px;
    color: var(--cor4);
    margin-bottom: 70px;
    text-align: center;
}

.cards h2 {
    text-align: center;
    color: var(--cor5);
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.cards p {
    text-align: center;
    font-size: 18px;
}

.cards {
    background-color: rgb(0, 0, 0);
    height:380px;
    width: 350px;
}

#meus-projetos {
    margin-bottom: 100px;
}

#meus-projetos h1 {
    color: var(--cor4);
    text-align: center;
    font-size: 45px;
    margin-bottom: 70px;
}

#meus-projetos img {
    height: 200px;
    width: 350px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 5px;
}

.projetos span {
    box-shadow: 0px 0px 0px 1px var(--cor5);
    border-radius: 20px;
    padding: 0px 10px;
    margin-left: 15px;
    font-size: 15px;
}

#projetos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.projetos {
    height: 440px;
    width: 350px;
    background-color: #000000;
    border: 1px solid var(--cor5);
    border-radius: 10px;
    perspective: 1000px; /* dá o efeito 3D */
    transition: transform 0.7s ease;
}

.projetos p {
    text-align: justify;
    margin-top: 10px;
    font-size: 13px;
    margin-left: 15px;
    margin-right: 15px;
}

.projetos:hover {
    transform: rotateY(10deg) rotateX(5deg) scale(1.05);
    box-shadow: 0px 0px 10px 3px var(--cor2);
}

.projetos button {
    height: 30px;
    width: 90px;
    margin-left: 15px;
    margin-top: 18px;
    border-radius: 15px;
    background-color: black;
    border: 1px solid var(--cor5);
}

.projetos button:hover {
    box-shadow: 0px 0px 20px 2px var(--cor2);
    cursor: pointer;
}

.projetos button:active {
    color: white;
}

.projetos a:active {
    color: white;
}

.projetos a {
    text-decoration: none;
    color: var(--cor3);
    font-weight: bolder;
}

.projetos button a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 28px;
}

#meus-certificados {
    margin-bottom: 100px;
}

#meus-certificados h1 {
    color: var(--cor4);
    text-align: center;
    font-size: 45px;
    margin-bottom: 70px;
}

#certificados {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

#certificados img {
    height: 200px;
    width: 350px;
    border-radius: 10px 10px 0px 0px;
}

#certificados h2 {
    font-size: 20px;
    color: var(--cor2);
    margin-left: 15px;
}

#certificados p {
    text-align: justify;
    margin: 10px 15px 18px 15px;
    font-size: 13px;

}

#certificados button {
    margin-left: 15px;
    color: var(--cor3);
    height: 30px;
    width: 120px;
    border-radius: 15px;
    background-color: black;
    border: 1px solid var(--cor5);
    font-weight: bolder;
    font-size: 12px;
}

#certificados a {
    text-decoration: none;
    color: var(--cor3);
    display: block;  /* Permite que o link ocupe todo o espaço do botão */
}

#certificados a:hover {
    color: var(--cor4);
}

#certificados button:hover {
    box-shadow: 0px 0px 20px 2px var(--cor2);
    cursor: pointer;
}

.certificados {
    height: 440px;
    width: 350px;
    border: 1px solid var(--cor5);
    border-radius: 10px;
}

#contatar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
}

#contatar h1 {
    font-size: 45px;
    color: var(--cor4);
    text-align: center;
    margin-bottom: 60px;
    margin-top: 100px;
    width: 100%;
}

#entre-contato {
    width: 100%;
    max-width: 800px;
    background-color: black;
    margin-right: 40px;
}

#entre-contato h2 {
    margin: 20px 10px;
    color: var(--cor5);
    font-size: 38px;
}

#entre-contato h3 {
    margin-left: 50px;
    font-size: 23px;
    margin-bottom: 10px;
    margin-top: 20px;
}

#entre-contato p {
    text-align: justify;
    margin: 0px 20px 10px 20px;
    font-size: 18px;
}

#entre-contato img {
    position: absolute;
    width: 18px;
    height: 18px;
    margin-left: 20px;
    margin-top: -14px;
}

.info-iten h4 {
    margin-left: 50px;
}

#formulario {
    margin-top: 40px;
    width: 100%;
    max-width: 800px;
    background-color: #292929;
    border-radius: 20px;
    padding-bottom: 10px;
}

#formulario button {
    margin-left: 20px;
    height: 30px;
    width: 150px;
    border-radius: 10px;
    color: white;
    background-color: var(--cor5);
    transition: 0.6s ease;
    cursor: pointer;
    border: none;
}

#formulario button:hover {
    box-shadow: 0px 0px 6px 2px var(--cor4);
}

#formulario button:active {
    background-color: var(--cor2);
    box-shadow: 0px 0px 6px 2px var(--cor1);
}

label {
    margin-bottom: 8px;
    display: block; /*ir para baixo*/
    margin: auto;
    font-size: 18px;
    font-weight: bolder;
    margin: 20px 0px 0px 20px;
}

input {
    height: 30px;
}

textarea {
    height: 60px;
}

input, textarea {
    background-color: white;
    border-radius: 8px;
    margin: 0px 0px 0px 20px;
    border: none;
}

form input,
form textarea {
    width: 93%;        /* cada campo ocupa toda a largura */
    margin-bottom: 12px;
}

footer {
    margin-top: 80px;
    background-color: black;
    text-align: center;
    padding: 32px 0px;
}

.icones-footer {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 16px;
}
.icones-footer img {
    width: 30px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.644);
    box-sizing: border-box;
    transition: transform 0.7s, border 1s;
}

.icones-footer img:hover {
    border: 2px solid white;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px var(--cor3);
    cursor: pointer;
}